<div>
    I, <span class="data-box" x-name="internname"></span>, agree to the following terms:
    <ul>
        <li>That the company shall not be liable for any damages done by me</li>
        <li>That I am solely responsible for any client that I contact during the course of my internship</li>
        <li>...</li>
    </ul>
    <hr>
    <h2>Legal Clauses</h2>
    The company shall provide a renumeration of <span class="data-box" x-name="internpackage"></span> per month, in exchange for <span class="data-box" x-name="internweeks"></span> weeks of employment.
    <hr>
</div>