<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta class="doc-meta" content="name=Basic-Template">
        <meta class="doc-meta" content="category=None">
        <meta class="doc-meta" content="security-level=1000">
        <meta class="doc-meta" content="security-labels=">
        <style>
        .heading { 
            color: #0c2340;
        }
        .sub{
            color: #5db4d7;
        }
        </style>
    </head>
    <body>
        <div id="template">
            <h1 class="data-box heading" x-name="client-name"></h1>
            <h2 class="sub">Insurance Declaration</h2>
            <p class="data-box heading" x-name="creation-date"></p>
            <hr>
            <h3 class="heading">Table of Contents</h3>
            CONTENTS READ and APPROVED (Client Use Only): .....................................................<br>
            Signed: ..............................................    Dated:.................................
            <hr>
            <h5 class="sub">Contacts</h5>
            <p>Name: <span class="data-box" x-name="broker1name"></p>
            <p>Title: <span class="data-box" x-name="broker1title"></p>
            <p>Landline: <span class="data-box" x-name="broker1dirdial"></p>
            <p>Mobile: <span class="data-box" x-name="broker1mobile"></p>
            <p>Email: <span class="data-box" x-name="broker1email"></p>
            <p>Sign:</p><br><br>
            <p>Name: <span class="data-box" x-name="broker2name"></p>
            <p>Title: <span class="data-box" x-name="broker2title"></p>
            <p>Landline: <span class="data-box" x-name="broker2dirdial"></p>
            <p>Mobile: <span class="data-box" x-name="broker2mobile"></p>
            <p>Email: <span class="data-box" x-name="broker2email"></p>
            <p>Sign:</p>
            
        </div>
    </body>
</html>